@import "tailwindcss";

:root {

}

@theme {
  /* Font Sizes */
  --text-extraLarge: 3em; 
  --text-large: 2em;
  --text-medium: 1.5em;
  --text-small-medium: 1.25em;
  --text-small: 1em;

  /* Colors */
  --color-primary: #030715;
  --color-secondary: #6884E9;
  --color-tertiary: #1B2836;
  --color-quaternary: #FFFFFF;

  /* Padding */
  --spacing-button: 0.5em;
  --spacing-lg-button-horizontal: 2em;
  --spacing-lg-button-vertical: 0.5em;
}

html {
  background: var(--color-primary);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: var(--font-roboto);
}

.circle {
  width: 20px;
  height: 20px;
  background-color: var(--color-secondary);
  border-radius: 50%;
}
