@import "tailwindcss";

:root {

}

@theme {
  /* Font Families */
  --font-main: var(--font-noto-sans);
  --font-secondary: var(--font-roboto);

  /* Font Sizes */
  --text-extraLarge: 3em; 
  --text-large: 2em;
  --text-medium: 1.5em;
  --text-small-medium: 1.25em;
  --text-small: 1em;

  /* Colors */
  --color-primary: #030715;
  --color-secondary: #6884E9;
  --color-tertiary: #1B2836;
  --color-quaternary: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
}
